In [1]:
import os
import pandas as pd
from tqdm import tqdm
import numpy as np
import re
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
import wikipediaapi
wiki_wiki = wikipediaapi.Wikipedia('en')

In [3]:
def get_articles(cat_main):
    
    articles_all = []
    
    for p in cat_main.categorymembers.values():

        if p.namespace == wikipediaapi.Namespace.CATEGORY and ('painter' in p.title or 'Painter' in p.title):
            articles_all.extend(get_articles(p))
        
        elif p.namespace == wikipediaapi.Namespace.MAIN:
            articles_all.append(p)

    return articles_all

In [4]:
def get_df_for_cat_value(value_cat_lst, clean_func, valueName):
    
    pages_all = []
    pages_name_all = []
    value_all = []

    for value in tqdm(value_cat_lst):
        
        pages_oneV = get_articles(value)
        pages_name_oneV = [p.title for p in pages_oneV]

        value_clean = clean_func(value)
        value_oneV = [value_clean for p in pages_oneV]

           
        pages_all.extend(pages_oneV)
        pages_name_all.extend(pages_name_oneV)
        value_all.extend(value_oneV)
    
    print('Number of pages before deleting duplicates: ', len(pages_all))
    
    columns = ['page', 'page name', valueName]
    df = pd.DataFrame(columns=columns) 

    df['page'] = pages_all
    df['page name'] = pages_name_all
    df[valueName] = value_all
    
    df = df.groupby('page name').agg({'page':'first', 
                                       valueName: set}).reset_index()
    
    df[valueName] = df[valueName].apply(list)

    
    return df

## Nationalities

In [5]:
def clean_nationality(nat_cat):
    nat = nat_cat.title
    
    nat = nat.split('Category:')[1]
    
    if 'from Georgia' in nat:
        return 'Georgian'
    if 'from the Principality' in nat:
        return 'Liège'
    return nat.split(' painters')[0]

In [6]:
nationalities_cat_lst = []

for nat in  wiki_wiki.page("Category:Painters_by_nationality").categorymembers.values():
    nationalities_cat_lst.append(nat)
    
nationalities_cat_lst = nationalities_cat_lst[8:]

In [7]:
df_nationality = get_df_for_cat_value(value_cat_lst=nationalities_cat_lst, 
                                      clean_func=clean_nationality, 
                                      valueName='nationality')

100%|████████████████████████████████████████████████████████████████████████████████| 170/170 [05:19<00:00,  1.88s/it]

Number of pages before deleting duplicates:  131442

In [8]:
df_nationality

,page name,page,nationality
0,'Abd al-Hayy,"'Abd al-Hayy (id: ??, ns: 0)","[Persian, Iranian]"
1,'the other' Jan van Kessel,"'the other' Jan van Kessel (id: ??, ns: 0)",[Flemish]
2,108 (artist),"108 (artist) (id: ??, ns: 0)",[Italian]
3,3Steps,"3Steps (id: ??, ns: 0)",[German]
4,A. A. Raiba,"A. A. Raiba (id: ??, ns: 0)",[Indian]
...,...,...,...
37045,Živorad Nastasijević,"Živorad Nastasijević (id: ??, ns: 0)",[Serbian]
37046,Ștefan Câlția,"Ștefan Câlția (id: ??, ns: 0)",[Romanian]
37047,Ștefan Dimitrescu,"Ștefan Dimitrescu (id: ??, ns: 0)",[Romanian]
37048,Ștefan Luchian,"Ștefan Luchian (id: ??, ns: 0)",[Romanian]
37049,Ștefan Pelmuș,"Ștefan Pelmuș (id: ??, ns: 0)",[Romanian]

## Dates and Other Info

In [9]:
def get_dates(page):
    cats = page.categories.keys()

    death_year, birth_year = None, None
    
    for c in cats:

        if 'births' in c:
            match = re.search(r'\d{4}', c) 
            if match: birth_year = match[0]

        if 'deaths' in c:
            match = re.search(r'\d{4}', c) 
            if match: death_year = match[0]

    return [birth_year, death_year, page.fullurl, list(cats)]

In [20]:

    births = []
    deaths = []
    urls = []
    categories_all = []


    for p in tqdm(df_nationality[21719:]['page']):
        b, d, u, cs = get_dates(p)

        births.append(b)
        deaths.append(d)
        urls.append(u)
        categories_all.append(cs)

100%|██████████████████████████████████████████████████████████████████████████| 15331/15331 [1:41:27<00:00,  2.52it/s]

In [21]:
len(births)

15331

## Other Info

# Save

In [11]:
def clean_title(title):
    if ' (' in title:
        return title.split(' (')[0]
    return title

In [22]:
columns = ['page', 'page name', 'painter name', 'url', 'birth', 'death', 'nationality', 'categories']
df = pd.DataFrame(columns=columns)


df['page'] = df_nationality['page']
df['page name'] = df_nationality['page name']
df['painter name'] = df_nationality['page name'].apply(clean_title)
df['url'] = urls
df['birth'] = births
df['death'] = deaths
df['nationality'] = df_nationality['nationality']
df['categories'] = categories_all


df

,page,page name,painter name,url,birth,death,nationality,categories
21719,"Katharina Rapp (id: 1628554, ns: 0)",Katharina Rapp,Katharina Rapp,https://en.wikipedia.org/wiki/Katharina_Rapp,1948,None,[German],"[Category:1948 births, Category:20th-century G..."
21720,"Katharine Carl (id: 8544717, ns: 0)",Katharine Carl,Katharine Carl,https://en.wikipedia.org/wiki/Katharine_Carl,1865,1938,[American],"[Category:1865 births, Category:1938 deaths, C..."
21721,"Katharine Church (id: 56389959, ns: 0)",Katharine Church,Katharine Church,https://en.wikipedia.org/wiki/Katharine_Church,1910,1999,[British],"[Category:1910 births, Category:1999 deaths, C..."
21722,"Katharine Emma Maltwood (id: 10726642, ns: 0)",Katharine Emma Maltwood,Katharine Emma Maltwood,https://en.wikipedia.org/wiki/Katharine_Emma_M...,1878,1961,[British],"[Category:1878 births, Category:1961 deaths, C..."
21723,"Katharine Lane Weems (id: 11172863, ns: 0)",Katharine Lane Weems,Katharine Lane Weems,https://en.wikipedia.org/wiki/Katharine_Lane_W...,1899,1989,[American],"[Category:1899 births, Category:1989 deaths, C..."
...,...,...,...,...,...,...,...,...
37045,"Živorad Nastasijević (id: 62254857, ns: 0)",Živorad Nastasijević,Živorad Nastasijević,https://en.wikipedia.org/wiki/%C5%BDivorad_Nas...,1893,1966,[Serbian],"[Category:1893 births, Category:1966 deaths, C..."
37046,"Ștefan Câlția (id: 13409891, ns: 0)",Ștefan Câlția,Ștefan Câlția,https://en.wikipedia.org/wiki/%C8%98tefan_C%C3...,1942,None,[Romanian],"[Category:1942 births, Category:All stub artic..."
37047,"Ștefan Dimitrescu (id: 6000470, ns: 0)",Ștefan Dimitrescu,Ștefan Dimitrescu,https://en.wikipedia.org/wiki/%C8%98tefan_Dimi...,1886,1933,[Romanian],"[Category:1886 births, Category:1933 deaths, C..."
37048,"Ștefan Luchian (id: 2475912, ns: 0)",Ștefan Luchian,Ștefan Luchian,https://en.wikipedia.org/wiki/%C8%98tefan_Luchian,1868,1917,[Romanian],"[Category:1868 births, Category:1917 deaths, C..."
37049,"Ștefan Pelmuș (id: 6271263, ns: 0)",Ștefan Pelmuș,Ștefan Pelmuș,https://en.wikipedia.org/wiki/%C8%98tefan_Pelm...,1948,None,[Romanian],"[Category:1948 births, Category:Articles with ..."

In [23]:
df.to_csv('Data_GoogleArts_V1.csv')

## Load Test

In [10]:
df_tmp = pd.read_csv('Data_GoogleArts_V1_0_21719.csv', index_col=0)
df_tmp.head()

,page,page name,painter name,url,birth,death,nationality,categories
0,"'Abd al-Hayy (id: 39316086, ns: 0)",'Abd al-Hayy,'Abd al-Hayy,https://en.wikipedia.org/wiki/%27Abd_al-Hayy,1374.0,1405.0,"['Persian', 'Iranian']","['Category:1374 births', 'Category:1405 deaths..."
1,"'the other' Jan van Kessel (id: 52935555, ns: 0)",'the other' Jan van Kessel,'the other' Jan van Kessel,https://en.wikipedia.org/wiki/%27the_other%27_...,1620.0,NaN,['Flemish'],"['Category:1620 births', 'Category:Animal arti..."
2,"108 (artist) (id: 18446241, ns: 0)",108 (artist),108,https://en.wikipedia.org/wiki/108_(artist),1978.0,NaN,['Italian'],"['Category:1978 births', 'Category:20th-centur..."
3,"3Steps (id: 45689974, ns: 0)",3Steps,3Steps,https://en.wikipedia.org/wiki/3Steps,NaN,NaN,['German'],"['Category:Articles with hCards', 'Category:Ge..."
4,"A. A. Raiba (id: 5402895, ns: 0)",A. A. Raiba,A. A. Raiba,https://en.wikipedia.org/wiki/A._A._Raiba,1922.0,2016.0,['Indian'],"['Category:1922 births', 'Category:2016 deaths..."

In [32]:
wiki_wiki = wikipediaapi.Wikipedia('en',extract_format=wikipediaapi.ExtractFormat.WIKI)

"3Steps (pronounced:  θriː stɛps) is a German-based contemporary artist collective between the twins Kai Harald Krieger and Uwe Harald Krieger (born March 15, 1980) and Joachim Pitt (born December 8, 1980).\nThe works of 3Steps have developed from mural art, graffiti art and street art. The spray can is the central media of 3Steps. The collective paints huge images on facades and murals, as well as several kinds of paintable media in the studio. Bright colors and the reflection of a modern society express the intention of the three friends.\n\nIn November 2014 3Steps received the “Kultur- und Kreativpilot Deutschland” (Cultural and Creative pilot of Germany) award by the Federal Republic of Germany. 3Steps lives and works in the University town of Giessen, central Germany.\n\nDevelopment\n3Steps was founded in fall 1998. The style of the collective quickly developed from the classic “New York Style Writing” graffiti and high art graffiti to artistic short stories on large-scale murals. The work of 3Steps can be found around the entire globe, from Giessen and Wetzlar via Munich and Berlin to London, Milan, Venice, L.A. and New York.\n\nAfter completing their university studies with diploma and award-winning PhD, the three friends founded their studio and art space in Giessen in 2012. Since then they devote themselves to new content driven topics and projects. In the studio 3Steps produces fine art paintings, editions and exclusive products.\n\nWorks\nToday's style of 3Steps includes influences of street art, style writing, photorealism, printmaking and pop art. In their current works 3Steps reflects today’s life, characterized by varying environments from reality, fiction, media and fantasy. \nThe imagery of 3Steps is telling short stories and modern fairy tales. Most of the collective stories based on iconic figures and moments of daily life. 3Steps turns everyday commodities and historic items into modern art. Nature faces urban culture and sunken cities. The works are colorful imageries in which aesthetics and glamor melt with urban culture and adventure.\n\nThe body of work of 3Steps contains large scale mural art, street art, paintings on wood and canvas, photographs, screenprints as well as sculptures and installation art. Most of the mixed media paintings consist of a collage of newspapers, magazines, photographs, stencil works, spray paint, acrylic, resin and screen printing on wood and canvas.\n\nRiver Tales\n3Steps is initiator and curator of the international urban art festival River Tales (in German: Flussgeschichten). The goal of the repeatedly funded project is the redevelopment of city, countryside and river by urban mural art and street art. Since 2012 the project grows through the participation of numerous international artists (e.g. Loomit, Dome, Alexander Becherer, 3Steps, Macs and Etnik).\n\nScholarships and collections\nGrants and scholarships\n2016: Artist Catalogue Funding, Hessisches Ministerium für Wissenschaft und Kunst, Stadt Giessen and Stadt Wetzlar\n2015: Kultur- und Künstlerförderung des Landes Hessen, Hessisches Ministerium für Wissenschaft and Kunst\n2011-2012: Kulturfond Gießen-Wetzlar, Kulturamt Stadt Giessen and Kulturamt Stadt Wetzlar\n\nPublic collections\nMuseum für Kommunikation Frankfurt, Frankfurt am Main, Hesse, Germany\nIndustrie- und Stadtmuseum, Wetzlar, Hesse, Germany\n\nExhibitions\nSelected solo exhibitions\n2017: art KARLSRUHE, One Artist Solo Show Birds of Prey with 2CforArt Gallery, art fair Karlsruhe, DE\n2016: Fields of Memories, Wetzlarer Kunstverein, Wetzlar, DE\n2016: Heard on the Street, 2CforArt Gallery, Salzburg, AT\n2015: Welcome to Milvus County, Kunst in Licher Scheunen, Art Festival, Lich, DE\n2014: Ahead! a studio show, 3Steps Showroom & Gallery, Giessen, DE\n2013: East vs. West Coast, Milvus Gallery, Giessen, DE\n\nSelected group exhibitions\n2016: Eröffnung, Kunstforum, Laubach, DE\n2016: 3Steps Booth, COME Fair 2016, Coburg, DE\n2015: 3Steps Booth, Stroke Ltd. Art Fair, Munich, DE\n2015: Druckfrisch #3, Galerie am Bahndamm, Giessen, DE\n2015: Expressions, Galerie Hegemann, Munich, DE\n2015: AprilApril, Galerie Artikel5, Aachen, DE\n2014: Goethes Werther, Museum of Wetzlar, DE\n2014: Stadtbotanik, Galerie am Bahndamm, Giessen, DE\n2013: East vs. West Coast Galerie S., Aachen, DE\n2013: Einer von uns. August Bebel und Wetzlar, Museum of Wetzlar, DE\n2010: 100 Künstler | 100 artists, Museum Zinkhütter Hof, Stolberg Aachen, DE\n2010: Style needs no color, Pretty Portal, Düsseldorf; Stroke 2 Art Fair, Munich; Bloom Art.Fair 21, Cologne, DE\n\nStreet art festivals (selected)\n2014: River Tales | Event of Urban Art, Giessen, DE\n2012: Can!t graffiti festival, Antwerp, DE\n2012: Urban Device, Grosseto, IT\n2012: River Tales | Event of Urban Art, Giessen-Wetzlar, DE\n2011: Can!t graffiti festival 2011, Antwerp, BE\n2011: IBUg 2011 – Urban Culture Festival, Meerane, DE\n2009: International Meeting of Styles – State of mind, London, UK\n2009: Can!t graffiti festival 2009, Antwerp, BE\n2009: Beyond Materialism, Saloniki, GR\n2008: Urban Code, Venice, IT\n2007: International Meeting of Styles – Big Dreamers, New York City, US\n2007: Brighton Hip Hop Festival – Freedom, Brighton, UK\n2006: Optical Confusion – Meeting of Mural Art, Wetzlar, DE\n\nBibliography\nBibliography\nMonographs3Steps: Milvus County. Monographie, Bildband mit zahlreichen Texten in Deutsch und Englisch, Giessen 2016, ISBN 978-3-945991-91-6.\n3Steps: Birds of Prey. Ausstellungs Katalog, Giessen 2017, ISBN 978-3-945991-81-7.\nProjekt159: Eine Region. Eine Bank. Eine Wand. Monographie, Catalogue for art on architecture, Giessen 2016, ISBN 978-3-94599-159-6.\n3Steps: Ahead!. Giessen 2015, ISBN 978-3-945991-00-8.\n\nFurther reading\nIosifidis Kiriakos: Mural Art Vol. 3: Murals on huge public Places around the World. Publikat, Mainaschaff 2010, ISBN 3-939566-28-4, p. 20–21.\nCristian Campos: 1,000 Ideas for Graffiti and Street Art: Murals, Tags, and More from Artists Around the World l. Rockport Publishers & moamao Publications, Beverly MA/Barcelona 2010, ISBN 978-1-59253-658-0.\nReinhard Müller-Rode: 3Steps Urban Art. In: Bogart. 4. Jahrgang, Nr. 7, 2011, S. 8–11 (online).\nStyle needs no color: Schwarz auf Weiss – Vol. II – Style needs no color. From Here to Fame Publishing, Berlin 2011, ISBN 978-3-937946-06-1, p. 120–121.\nCristian Campos: Graffiti and Urban Art: Murals, Tags, Stencils and Sticker. Loft Publications & Frechmann Kolon, Barcelona/Köln 2011, ISBN 84-9936-771-2, p. 228–253.\nArtistic career | Karriere mit Kunst. In: Streifzug Magazin. April 2014, p. 37 (online).\nFrank Malt: 100 European Graffiti Artists. Schiffer Pub Co, Atglen PA 2014, ISBN 978-0-7643-4658-3, p. 12–15.\n\nTv and radio reports\nDaniela Will: Remarkable Street Artists | Ausgezeichnete Sprayer. tv report, Sat1 17:30LIVE. 2015-01-16, (online).\nEva Grage: Awarded Street Artists | Ausgezeichnete Sprayer | 3Steps from Giessen. radio report, In: hr2-kultur. 2014-12-20, (online).\n\nReferences\nExternal links\nOfficial 3Steps website\nOfficial website of River Tales\nGoogle Open Gallery of River Tales"

In [20]:
df_tmp.at[0,'categories']

"['Category:1374 births', 'Category:1405 deaths', 'Category:All articles needing additional references', 'Category:All stub articles', 'Category:Articles needing additional references from July 2016', 'Category:Asian painter stubs', 'Category:Commons category link is on Wikidata', 'Category:Iranian artist stubs', 'Category:Persian miniature painters', 'Category:Wikipedia articles with ULAN identifiers', 'Category:Wikipedia articles with VIAF identifiers', 'Category:Wikipedia articles with WORLDCATID identifiers']"

In [31]:
re.search(str(int(df_tmp.at[1,'birth'])),wiki_wiki.page(df_tmp.at[1,'page name']).text).start()

47

In [3]:
import json

In [79]:
with open('output.json', 'w',encoding='utf-16') as f:
    for j,row in enumerate(df_tmp.iterrows()):
        d = {}
        e = {}
        d['docid'] = "Wikipedia-"+str(j).zfill(5)
        d['doctext'] = wiki_wiki.page(row[1]['page name']).summary
        if np.isnan(row[1]['birth']):
            e['birth'] = []
        else:
            b = re.search(str(int(row[1]['birth'])),d['doctext'])
            if b is not None:
                e['birth'] = [[str(int(row[1]['birth'])),b.start()]]
            else:
                e['birth'] = []
         
        if np.isnan(row[1]['death']):
            e['death'] = []
        else:
            de = re.search(str(int(row[1]['death'])),d['doctext'])
            if de is not None:
                e['death'] = [[str(int(row[1]['death'])),de.start()]]
            else:
                e['death'] = []
            
        l = row[1]['nationality']
        l = l.strip('][').split(", ")
        l_out = []
        for i in l: 
            i = i.strip("'")
            n = re.search(i,d['doctext'])
            if n is not None: 
                l_out.append([i,n.start()])
        e['nationality'] = l_out
        d["extracts"] = e            
        json.dump(d,f,ensure_ascii=False)
        f.write("\n")
        if j%100 == 0:
            print(j)

0
100
200
300
400
500
600
700
800
900
1000
1100
1200
1300
1400
1500
1600
1700
1800
1900
2000
2100
2200
2300
2400
2500
2600
2700
2800
2900
3000
3100
3200
3300
3400
3500
3600
3700
3800
3900
4000
4100
4200
4300
4400
4500
4600
4700
4800
4900
5000
5100
5200
5300
5400
5500
5600
5700
5800
5900
6000
6100
6200
6300
6400
6500
6600
6700
6800
6900
7000
7100
7200
7300
7400
7500
7600
7700
7800
7900
8000
8100
8200
8300
8400
8500
8600
8700
8800
8900
9000
9100
9200
9300
9400
9500
9600
9700
9800
9900
10000
10100
10200
10300
10400
10500
10600
10700
10800
10900
11000
11100
11200
11300
11400
11500
11600
11700
11800
11900
12000
12100
12200
12300
12400
12500
12600
12700
12800
12900
13000
13100
13200
13300
13400
13500
13600
13700
13800
13900
14000
14100
14200
14300
14400
14500
14600
14700
14800
14900
15000
15100
15200
15300
15400
15500
15600
15700
15800
15900
16000
16100
16200
16300
16400
16500
16600
16700
16800
16900
17000
17100
17200
17300
17400
17500
17600
17700
17800
17900
18000
18100
18200
18300
18400
18500
18600
18700
18800
18900
19000
19100
19200
19300
19400
19500
19600
19700
19800
19900
20000
20100
20200
20300
20400
20500
20600
20700
20800
20900
21000
21100
21200
21300
21400
21500
21600
21700

In [4]:
df_tmp = pd.read_csv('Data_GoogleArts_V1_0_21719.csv', index_col=0)
l = df_tmp['painter name'].to_numpy()
g = open('train.json','w',encoding='utf-8')
dev = open('dev.json','w',encoding='utf-8')
test = open('test.json','w',encoding='utf-8')
with open('output.json', 'r',encoding='utf-16') as f:
    c = 0
    m = len(l)
    for i,j in zip(f,l):  
        c+=1
        d = json.loads(i)
        for k in d['extracts'].keys():
            if d['extracts'][k]:
                d['extracts'][k] = [d['extracts'][k]]
        n = re.search(j,d['doctext'])
        d["docid"] = "Wikipedia-"+d["docid"].split("-")[-1]
        if n is not None:
            d['extracts']['painter_name'] = [[[j,n.start()]]]
        else:
            d['extracts']['painter_name'] = [[[j,0]]]
        if c<m*0.9:
            json.dump(d,g,ensure_ascii=False)
            g.write("\n")
        elif c<m*0.95:
            json.dump(d,dev,ensure_ascii=False)
            dev.write("\n")
        elif c<m:
            json.dump(d,test,ensure_ascii=False)
            test.write("\n")
        else:
            break
            
g.close()
dev.close()
test.close()